.article-content {
    .iframe {
        padding: 5px 5px 0;
        border: 2px solid $brand-light;

        iframe {
            width: 100%;
        }
    }
}

.article {
    &-content {
        ul {
            margin-bottom: 1rem;
        }
    }
}

.article {
    &-meta {
        font-size: .85rem;
        color: #777;
        margin-bottom: 10px;
        
        a {
            color: currentColor;
        }
        
        &> * {
            display: inline-block;
        }
    }
}
